<div class="dashboard-main">
  <div class="dashboard-container">
      <h2>My cars</h2>
      <br>
    <div class="my-cars-container">
        <div>
        <% @my_cars.each do |car| %>
        <section class="d-flex align-items-center p-2">
          <p><%= car.model %></p>
          <p>Price:</p>
          <p><%= car.price %></p>
          <p>Start-date:</p>
          <p><%= car.start_date %></p>
          <p>End-date:</p>
          <p><%= car.end_date %></p>
          <!---Add button here to get to the show_car page--->
            <p>location:</p>
          <p><%= car.location %></p>
          <%= cl_image_tag car.photo.key, height: 100, width: 100, crop: :fill, class:"dash-img"%>
          <%= link_to "Show", car_path(car), class: "btn confirm-reject-buttons" %>
        </section>
        <% end %>
        </div>
      </div>
    </div>
      <h2>Bookings</h2>
      <br>
    <div class="reservations-container">
      <% @my_requested_bookings.each do |booking| %>
        <section class="p-2">
        <strong><%= booking.car.model %></strong>
        &nbsp
        &nbsp
        <div class="booking-item-container">
          <p>Start date:</p>
          <p><%= booking.start_date %></p>
        </div>
        <div class="booking-item-container">
          <p>End date:</p>
          <p><%= booking.end_date %></p>
        </div>
        <div class="booking-item-container">
          <p>Status:</p>
          <p><%= booking.status %></p>
        </div>
        <br>
        </section>
        <% end %>
    </div>
      <h2>Requests</h2>
      <br>
    <div class="notifications-container">
      <% @my_received_bookings.each do |booking| %>
        <section>
        <strong><%= booking.car.model %></strong>
        &nbsp
        &nbsp
        <div class="booking-item-container">
          <p>Start date:</p>
          <%= booking.start_date %>
        </div>
        <div class="booking-item-container">
          <p>End date:</p>
          <%= booking.end_date %>
        </div>
        <div class="booking-item-container">
          <p>Status:</p>
          <%= booking.status %>
        </div>
        <div class="booking-item-container">
          <p>Change status</p>
          <%= link_to "Confirm", change_status_booking_path(booking, status: 1), data:{turbo_method: :patch}, class: "btn btn-show-car-page mr-1" %>
          <%= link_to "Reject", change_status_booking_path(booking, status: 2), data:{turbo_method: :patch}, class: "btn btn-show-car-page" %>
        </div>
        &nbsp
        </section>
      <% end %>
    </div>
  </div>
  <%# <%= image_tag "porsche.jpg", class:"img-porsche" %>
  <!---button for going back to the listings page---->
  <div>
  <%= link_to "Go back to cars", cars_path, class: "btn btn-show-car-page" %>
  </div>

</div>
