<div class="dashboard-main">
  <div class="dashboard-container">
    <div>
      <h2>My cars</h2>
        <div>
        <% @my_cars.each do |car| %>
        <%= car.model %>
        <%= car.price %>
        <%= car.start_date %>
        <%= car.end_date %>
        <%= car.location %>
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        </div>
    </div>
    <div class="reservations-container">
      <h2>Bookings</h2>
      <% @my_requested_bookings.each do |booking| %>
        <strong><%= booking.car.model %></strong>
        <p>Start date:</p>
        <%= booking.start_date %>
        <p>End date:</p>
        <%= booking.end_date %>
        <p>Status:</p>
        <%= booking.status %>
        <br>
        <% end %>
    </div>
    <div class="notifications-container">
      <h2>Requests</h2>
      <% @my_received_bookings.each do |booking| %>
        <section>
        <strong><%= booking.car.model %></strong>
        &nbsp
        &nbsp
        <div class="booking-item-container">
          <p>Start date:</p>
          <%= booking.start_date %>
        </div>
        <div class="booking-item-container">
          <p>End date:</p>
          <%= booking.end_date %>
        </div>
        <div class="booking-item-container">
          <p>Status:</p>
          <%= booking.status %>
        </div>
        <div class="booking-item-container">
          <p>Change status</p>
          <%= link_to "Confirm booking", change_status_booking_path(booking, status: 1), data:{turbo_method: :patch} %>
          <%= link_to "Reject booking", change_status_booking_path(booking, status: 2), data:{turbo_method: :patch} %>
        </div>
        </section>
      <% end %>
    </div>
  </div>
  <%# <%= image_tag "porsche.jpg", class:"img-porsche" %>
  <!---button for going back to the listings page---->
  <div>
  <%= link_to "Go back to cars", cars_path, class: "btn btn-show-car-page" %>
  </div>

</div>
