
<div class="nav-container">

  <div class="navbar-logo-container">
     <%= link_to root_path do %>
      <h1 class="navbar-logo-name">SUPERENT</h1>
     <% end %>
  </div>

  <div class="navbar-menu-container">
    
  </div>

  <div class="navbar-login-container">
  <% if user_signed_in? %>
    <div class="create-btn">
      <%= link_to new_car_path do %>
      <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <button class="profile-link">
      <%= link_to "My profile", users_dashboard_path, class: "nav-link"%>
    </button>
    <button class="log-out-btn">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </button>
  <% else %>
    <button class="log-out-btn">
      <%= link_to "Login", new_user_session_path, class: "log-out-btn" %>
    </button>
  <% end %>
  </div>

</div>
