
<div class="nav-container">
  <div class="navbar-logo-container">
     <%= link_to root_path do %>
      <h1 class="navbar-logo-name">SUPERENT</h1>
     <% end %>

  </div>

  <div class="navbar-menu-login-container">

  <div class="navbar-menu-container">
    <ul class="navbar-menu-list">
      <li class="navbar-menu-li">
        <%= link_to "Home", "#", class: "home-btn-link" %>
      </li>
      <li class="navbar-menu-li">
        <%= link_to "Contact", "#", class: "contact-btn-link" %>
      </li>
        <li class="navbar-menu-li">
          <%= link_to "About", "#", class: "contact-btn-link" %>
        </li>
      </ul>
  </div>

  <div class="navbar-login-container">
  <% if user_signed_in? %>
    <button class="create-btn">
    <%= link_to "Create listing", new_car_path%>
    </button>
    <button class="log-in-btn">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </button>
  <% else %>
    <button class="log-in-btn">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </button>
  <% end %>
  </div>

  </div>
</div>
