<div class="layout-container">
    <%= image_tag "ferrari.png", class:"img" %>
  <div class="footer-container">
    <div class="footer-elements-container">
    <%= form_with url: cars_path, method: :get, remote: true do  |f| %>
      <div class="info-container">
        <p>Choose a location</p>
        <%= f.text_field :location, placeholder:"Barcelona" %>
      </div>
      <div class="info-container">
        <p>From</p>
        <%= f.date_field :start_date %>
      </div>
      <div class="info-container">
        <p>To</p>
        <%= f.date_field :end_date%>
      </div>
      <div class="search-btn">
        <i class="fas fa-search"></i>
        <%= f.submit "Search"%>
      </div>
    <% end %>
    </div>
  </div>
  <%# <%= link_to "Sign in", new_user_session_path %>
  <%# <%= link_to "Log out", destroy_user_session_path %>
</div>
