<div class="d-flex justify-content-center align-items-center align-content-center flex-column w-auto p-3">
  <h2 class="text-light p-3">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="form-inputs text-light w-400">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div>
      <%= f.button :submit, "Log in", class: "submit-btn"  %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
