<h4>Filter</h4>

<div class="filter-div">

  <div class=“footer-container”>
    <div class=“footer-elements-container”>
    <%= form_with url: cars_path, method: :get, remote: true do  |f| %>
      <div class="location-container">
      <h6>Location</h6>
      <%= f.text_field :location, placeholder: "  Please choose a city", class: 'location-text-field' %>
    </div>

    <div class="availability-container">
      <h6>Availability</h6>
      <p>From</p>
      <%= f.date_field :start_date, class: 'date-field' %>
      <p>To</p>
      <%= f.date_field :end_date, class: 'date-field' %>
    </div>

    <div class="graph-container">
      <p>Price / Day</p>
      <%= image_tag("graphic.png", size:"265x100") %>
    </div>

    <div class="price-container">
      <div class="text-field-container">
          <%= f.text_field :start_price, placeholder: "      Min", class: 'price-text-field' %>
          <%= f.text_field :end_price, placeholder: "      Max", class: 'price-text-field' %>
      </div>

      <div class="button-container">
      <%= f.submit "Filter", class: 'button-field' %>
      </div>

      <% end %>
      </div>
    </div>
  </div>

</div>
