<h4>All Listings</h4>

<div class="listings-container">
    <% @cars.each do |car| %>
      <div class ="listing-container">
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="car-info-top"></div>
        <div class="car-info"car>
          <div class="car-info-top">
            <div class="description">
              <%= car.model %>
              <%= car.description %>
              <%= car.location %>
            </div>
            <div class="price">
              <p>PRICE</p>
              <%= car.price %>
            </div>
          </div>
          <div class="car-info-bottom">
            <div class="start-date">
              <p>From<p>
              <%= car.start_date %>
            </div>
            <div class="end-date">
              <p>To</p>
              <%= car.end_date %>
            </div>
            <div class="book-btn">
              <%= link_to "RESERVE", car_path(car) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
