<h4>All Listings</h4>

<div class="listings-container">
    <% @cars.each do |car| %>
      <div class ="listing-container">
        <%#= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="car-info-top"></div>
        <div class="car-info"car>
          <div class="car-info-top">
            <div class="description">
              <%= car.model %>
              <%= car.description %>
              <%= car.location %>
            </div>
            <div class="price">
              <p>PRICE</p>
              <%= car.price %>
            </div>
          </div>
          <div class="car-info-bottom">
            <div class="start-date">
              <p>From<p>
              <%= car.start_date %>
            </div>
            <div class="end-date">
              <p>To</p>
              <%= car.end_date %>
            </div>
            <div class="book-btn">
              <% if user_signed_in? %>
                  <!-- Add here: if statement, if logged in: linkto_booking_new--->
                  <%= link_to "Book new", new_car_booking_path(car) %>
              <% else %>
                  <!-- Add here: if statement, if logged out: linkto_car_show--->
                  <%= link_to "Show car", car_path(car) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
