
<!--this page is for people that are not logged in or people who own the car--->
<div class="big-container">

  <div class="left-car-info-container">
       <!--if current user owns the car then display: This your car-->
       <% if @car.user == current_user %>
        <p class="text-car-show" >You are the owner of this car</p><br>
        <!--if current user doesnt  owns the car then display: Car information-->
        <% else %>
        <p class="text-car-show" >The car you are looking for</p><br>
        <p class="text-car-show" >If you want to book please login</p><br>
       <% end %>
       <div class="car-picture-show-page-infos">
          <% if @car.photo.present? %>
            <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag("No-Image-Placeholder.svg.png") %>
          <% end %>
        </div>
        <br>
  </div>
  <div class="right-car-booking-container">
      <p class="text-car-show"><%= @car.model %></p>
      <p class="text-car-show">$<%= @car.price %></p>
      <p class="text-car-show">Available from: <%= @car.start_date %></p>
      <p class="text-car-show">To: <%= @car.end_date %></p>
      <br>

      <!--edit button is for later-->

      <% if policy(@car).edit? %>

      <%= link_to "Edit car", edit_car_path(@car), class: "btn btn-show-car-page" %>
      <!--delete button is for later-->
      <%= link_to "Delete",
      car_path(@car),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-show-car-page"%>
      <% end %>
      <%= link_to "Go back", cars_path, class: "btn btn-show-car-page" %>
    </div>
</div>
