<div class="big-container">
<!--div below is for the left half of the screen (car info)-->
<div class="left-car-info-container">
  <p><%= @car.model %></p>
  <p><%= @car.price %></p>
  <p><%= @car.start_date %></p>
  <p><%= @car.end_date %></p>
  <%= link_to "Edit car", edit_car_path %>
  <%= link_to "Delete",
  car_path(@car),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <%= link_to "Go back", cars_path %>
</div>
<!--div below is for the right half of the screen (booking form)-->
<div class="right-car-booking-container">

<p>Bookingform</p>


</div>
</div>
