<div class="big-container">
  <!--div below is for the left half of the screen (car info)-->
  <div class="left-car-info-container">

      <p class="title-car-show-page" >Your reservation</p><br>
       <div class="car-picture-show-page-infos">
      carpic
       </div><br>
      <p class="text-car-show"><%= @car.model %></p>
      <p class="text-car-show">$<%= @car.price %></p>
      <p class="text-car-show">Available from: <%= @car.start_date %></p>
      <!-- Line below is a test for displaying user uploaded photo of the car -->
      <%#= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
      <p class="text-car-show">To: <%= @car.end_date %></p>
      <br>

      <!--edit button is for later-->
      <%#= link_to "Edit car", edit_car_path, class: "btn-show-car-page" %>
      <!--delete button is for later-->
      <%#= link_to "Delete",
      car_path(@car),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-show-car-page"%>
      <%= link_to "Go back", cars_path, class: "btn btn-show-car-page" %>

  </div>





</div>
